<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><g:layoutTitle default="Grails"/></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
		<link rel="apple-touch-icon" href="${resource(dir: 'images', file: 'apple-touch-icon.png')}">
		<link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
		%{--<link rel="stylesheet" href="${resource(dir: 'css', file: 'main.css')}" type="text/css">--}%
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'mobile.css')}" type="text/css">
		<link rel="stylesheet" href="${resource(dir: 'assets/css', file: 'styleShop.css')}" type="text/css">
		<link rel="stylesheet" href="${resource(dir: 'assets/css', file: 'colorbox.css')}" type="text/css">

    </head>




        <script type="text/javascript" src="${resource(dir: 'assets/js', file: 'jquery-2.0.3.min.js')}" ></script>
        <script type="text/javascript" src="${resource(dir: 'assets/js', file: 'boxOver.js')}" ></script>
        <script type="text/javascript" src="${resource(dir: 'assets/js', file: 'windowopen.js')}" ></script>

        <r:require modules="bootstrap"/>

        <g:layoutHead/>
        <r:layoutResources />

        <script type="text/javascript" src="${resource(dir: 'assets/js', file: 'jquery.colorbox-min.js')}" ></script>
    </head>
	<body>




    <div id="main_container">
        <div class="top_bar">
            <div class="top_search">
                <div class="search_text"><a href="#">Advanced Search</a></div>
                <input type="text" class="search_input" name="search" />
                <input type="image" src="${resource(dir: 'assets/images',file: 'search.gif')}" class="search_bt"/>
            </div>
            <div class="languages">
                <div class="lang_text">%{--Languages:--}%</div>
                <sec:ifLoggedIn><g:link url="${createLink(controller:"logout", action:"index")}"  class="lang" style="color:white" >Logout</g:link></sec:ifLoggedIn>
                <sec:ifNotLoggedIn><g:link url="${createLink(controller:"login", action:"auth")}" class="lang" style="color:white" >Login</g:link></sec:ifNotLoggedIn>
                <sec:ifAnyGranted roles="ROLE_ADMIN"><g:link url="${createLink(controller:"secure", action:"index")}" class="lang" style="color:white" >Admin</g:link></sec:ifAnyGranted>
            </div>
        </div>
        <div id="header">
            <div id="logo"> <a href="#"><img src="${resource(dir: 'assets/images', file : 'logo.png')}" alt="" border="0" width="237" height="140" /></a> </div>
            <div class="oferte_content">
                <div class="top_divider"><img src= "${resource(dir: 'assets/images', file: 'header_divider.png')}" alt="" width="1" height="164" /></div>
                <div class="oferta">
                    <div class="oferta_content"> <img src="${resource(dir: 'assets/images', file: 'laptop.png')}" width="94" height="92" alt="" border="0" class="oferta_img" />
                        <div class="oferta_details">
                            <div class="oferta_title">Samsung GX 2004 LM</div>
                            <div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
                            <a href="details.html" class="details">details</a>
                        </div>
                    </div>
                    <div class="oferta_pagination"> <span class="current">1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> </div>
                </div>
                <div class="top_divider"><img src="${resource(dir : 'assets/images', file: 'header_divider.png')}" alt="" width="1" height="164" /></div>
            </div>
            <!-- end of oferte_content-->
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li><a href="${createLink(controller: 'product', action: 'index')}" class="nav1"> Home</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav2">Products</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav3">Specials</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav4">My account</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav4">Sign Up</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav5">Shipping</a></li>
                    <li class="divider"></li>
                    <li><a href="contact.html" class="nav6">Contact Us</a></li>
                    <li class="divider"></li>
                    <li class="currencies">Currencies
                        <select>
                            <option>Rs.</option>
                            <option>US Dollar</option>
                        </select>
                    </li>
                </ul>
                <div class="right_menu_corner"></div>
            </div>
            <!-- end of menu tab -->
            <div class="crumb_navigation"><a href="#">Home</a> &lt;&lt; <span class="current">Category name</span></div>

            <sec:ifAnyGranted roles="ROLE_ADMIN">
                <div> <a href="${createLink(action: 'enterCategory',controller: 'secure')}">Add a category</a></div>
            </sec:ifAnyGranted>

            <div class="left_content">
                <div class="title_box">Categories</div>
                <ul class="left_menu">
                    <g:each in="${com.webverticaldomains.Category.findAllByParentCategoryIsNull()}" var="cat" status="i">
                        <li class="${(i%2)==0?"odd":"even"}"><a href="${createLink(controller: 'product', action: 'listProducts', params: [catId: cat.id])}">${cat.name}</a></li>
                    </g:each>
                </ul>
                <div class="title_box">Special Products</div>
                <div class="border_box">
                    <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
                    <div class="product_img"><a href="details.html"><img src="${resource(dir: 'assets/images',file: 'laptop.gif')}" alt="" border="0" /></a></div>
                    <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
                </div>
                <div class="title_box">Newsletter</div>
                <div class="border_box">
                    <input type="text" name="newsletter" class="newsletter_input" value="your email"/>
                    <a href="#" class="join">join</a> </div>
                <div class="banner_adds"> <a href="#"><img src="${resource(dir:'assets/images', file: 'bann2.jpg')}" alt="" border="0" /></a> </div>
            </div>
            <!-- end of left content -->
            <div class="center_content">
             <g:layoutBody/>
            </div>
            <!-- end of center content -->



            <div class="right_content">
                <div class="shopping_cart">
                    <div class="cart_title">Shopping cart</div>
              <div class="cart_details">

            <a href="${createLink(controller: 'product', action: 'showCart')}">Items in  cart <br /></a>

                        <span class="border_cart"></span> Total: <span class="price">350$</span> </div>
                    <div class="cart_icon"><a href="#" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="${resource(dir: 'assets/images',file: 'shoppingcart.png')}" alt="" width="48" height="48" border="0" /></a>
                    </div>
               </div>


                <div class="title_box">What’s new</div>
                <div class="border_box">
                    <div class="product_title">Motorola 156 MX-VL</div>
                    <div class="product_img"><a href="#"><img src="${resource(dir: 'assets/images',file: 'p2.gif')}" alt="" border="0" /></a></div>
                    <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
                </div>
                <div class="title_box">Manufacturers</div>
                <ul class="left_menu">

                    <g:each in="${com.webverticaldomains.Product.withCriteria { groupProperty('manufacturer') }}" var="product" status="i">
                        <li class="${(i%2)==0?"odd":"even"}"><a href="#">${product.manufacturer}</a></li>
                    </g:each>
                </ul>
                <div class="banner_adds"> <a href="#"><img src="${resource(dir: 'assets/images',file: 'bann1.jpg')}" alt="" border="0" /></a> </div>
            </div>
            <!-- end of right content -->
        </div>
        <!-- end of main content -->
        <div class="footer">
            <div class="left_footer"> <img src="${resource(dir: 'assets/images',file: 'footer_logo.png')}" alt="" width="170" height="49"/> </div>
            <div class="center_footer"> XYZ Solutions. All Rights Reserved 2008<br /><br />
                <img src="${resource(dir: 'assets/images',file: 'payment.gif')}" alt="" /> </div>
            <div class="right_footer"> <a href="#">home</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="contact.html">contact us</a> </div>
        </div>
    </div>

        <r:layoutResources />
	</body>
</html>