.main-content{
    margin-left:0px !important;
}

.page-content{
    padding:0px !important;
}

.pageContent{
    padding:20px;
    margin-top:20px;
    width:100% !important;
}
.form_group{
    margin-top:40px;
}

.targetLink{
   margin-top:5px;
}

.createNewProject{
    float:right;
    margin-top:-15px;
}

.modalFormLabel{
    text-align: right;

}

.customLabel{
    width:35% !important;
}

.custDocs1{
    margin-right:26% !important;
    margin-top:15px;
    width: 300px !important;
}

.dataTables_empty{
    display: none !important;
}

.customPagination{
    display:block !important;
}

.customDiv{
    width:60% !important;
}

.modalTextField{
    width: 100% !important;
}

.customInfoBox{

}

.modalRightDiv{
    width:51% !important;
}

#backBtn, #addCandidate, .submitWholeSuggestion, #viewSpecs, #enterNotes{
    padding: 1px !important;
    margin-bottom: 10px !important;
}


.dlSpacer{
    margin-top:5px !important;
}

.customSearch{
    margin:10px;
}

.custom {
    vertical-align: middle !important;
}

.customSearch {
/*    margin *//*\**//*:0 !important;
    margin-right *//*\**//*:10 !important;*/
}

.dataTables_filter, .dataTables_info {display: none;}

.sample-table-2_filter{
    display: none !important;
}

.dl-horizontal dd{
    margin-left: 220px !important;
}

.checkStep1{
    margin-top:10px;
    padding-bottom: 0 !important;
    background-color: transparent !important;
}

.moreDocs{
    height:100px;
    width:100px;
    background:white;

}

.bubble
{
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    margin-left: -140px;
    top: 65px;
    padding: 0px;
    background: #FFFFFF;
    border: #000 solid 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:after
{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 135px;
    border-style: solid;
    border-width: 25px 25px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before
{
    content: "";
    position: absolute;
    top: 98px;
    left: 134px;
    border-style: solid;
    border-width: 26px 26px 0;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.tooltip
{
    display: none;
    position: absolute;
    width:100px;
    height:auto;
    background:white;
    border:1px solid;
    margin-left:-40px;
    padding:4px;
}

.css3_bounce{
    -webkit-animation: bounce 650ms ease-out;
    -moz-animation: bounce 650ms ease-out;
    -o-animation: bounce 650ms ease-out;
    animation: bounce 650ms ease-out;
}

.deliverCell{
    width:175px !important;
}

.resultCell{
    width:100px !important;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform:translateY(-80%);
        opacity: 1;
    }
    5% {
        -webkit-transform:translateY(-70%);
        opacity: 1;
    }
    15% {
        -webkit-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -webkit-transform:translateY(-50%);
    }
    40% {
        -webkit-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -webkit-transform:translateY(-30%);
    }
    70% {
        -webkit-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -webkit-transform:translateY(-15%);
    }
    90% {
        -webkit-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -webkit-transform:translateY(-10%);
    }
    97% {
        -webkit-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -webkit-transform:translateY(-5%);
    }
    100% {
        -webkit-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
    0% {
        -moz-transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        -moz-transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        -moz-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -moz-transform:translateY(-50%);
    }
    40% {
        -moz-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -moz-transform:translateY(-30%);
    }
    70% {
        -moz-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -moz-transform:translateY(-15%);
    }
    90% {
        -moz-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -moz-transform:translateY(-10%);
    }
    97% {
        -moz-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -moz-transform:translateY(-5%);
    }
    100% {
        -moz-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* Opera 12.0 */
@-o-keyframes bounce {
    0% {
        -o-transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        -o-transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        -o-transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -o-transform:translateY(-50%);
    }
    40% {
        -o-transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -o-transform:translateY(-30%);
    }
    70% {
        -o-transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -o-transform:translateY(-15%);
    }
    90% {
        -o-transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -o-transform:translateY(-10%);
    }
    97% {
        -o-transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -o-transform:translateY(-5%);
    }
    100% {
        -o-transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
    0% {
        transform:translateY(-100%);
        opacity: 0;
    }
    5% {
        transform:translateY(-100%);
        opacity: 0;
    }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    97% {
        transform:translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform:translateY(-3%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}


.modal-footer{

}

.finishModalText{
    color: #428bca;
}

.star{
    color:#ed9c28;
}

.star:hover{
    color:#ed9c28 !important;
    text-decoration: none !important;
}

.modal-group{
    height:30px !important;
}

.modalFormTextarea{
    margin-bottom: 10px;
}

#createNewBtn{
    border-radius:8px;
    margin-top:-5px;
    z-index: 100 !important;
}

div.someclass {
    position: absolute;
    top: 0;
    left: 0;
}


.notesField{
    width:81% !important;
    border: 0px  !important;
    background: transparent  !important;
    color: #428bca  !important;
}

.estimatedTimeCell{
    color:green;
}

.backBtnDiv{
    float:left;
}

.addCandidateBtnDiv{
    float:right
}


.error-msg{
    clear:both;
    color:#b94a48;
    -webkit-margin-after: 0em;
    text-align: left !important;
  /*  margin-left:26%; */
}

.displayDetailsUL{
    margin:0px;
}

.list-search-form{
    float:right;
    margin-bottom:10px;
}

.jobBoardField{
    width:auto !important;
}

dt{
    width:190px !important;
}

#reset{
    margin-left:50px;
}

.URLcell{
    width:50%;
}

.URLcell .jobBoardField{
    width:100% !important;
}

.highlight{
    color:#dd5a43 !important;
}

.gritter-close{
    margin-left:87% !important;
}

.sourceNameDiv, .extraField{
    height:30px;
}

.minWidth{
    min-width: 120px !important;
}

.linkedinCell{
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 100px !important;
    overflow-x: hidden !important;
    display: block !important;
}

.longFileName{
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 150px !important;
    overflow-x: hidden !important;
    display: block !important;
    text-align: left !important;
}

@media only screen and (max-width: 991px){
    .breadcrumb {
        margin-left: 10px !important;
    }
}

.checkboxLabel{
    margin-left:5px;
}

.uploadDocs{
    cursor: default !important;
}

.viewFile, .deleteProfile, .viewProfile{
    cursor: pointer !important;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

#submitSpinner{
    margin:10px;
}

.contentDivLogin{
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=45,strength=2),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=10),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=225,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=315,strength=2);
    border-radius:10px;
    background: #ededed !important;
    border:1px solid #438eb9;
/*    margin-bottom: 120px;
    -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 40%, transparent 100%);*/
}

.rememberText {  margin-left/*\**/: 15px !important;margin-top/*\**/: 12px !important;}


.navbar-brand small img{
    width:90%;
}

.ace-spinner touch-spinner{
    width:85% !important;
}

.mandatory{
    color:#dd5a43;
    margin:2px;
}

.cancelHeader
{
   color:#dd5a43 !important;
}
.login_message{
    color:red;
}

.fheader{
    margin-bottom:10px;
    font-size:15px;
}

.tabbable{
    z-index: 5 !important;

}

.loginFields{
    padding-top:25px;
}

.navLink{
    float:right;
    padding-right:20px;
    margin-top: -20px;
}

li{
   list-style: none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#chatContainer {
    position: fixed;
    bottom:0;
    right: 0;
    margin-right:25px;
    z-index: 200;
}

.loadmore{
    height:30px;
    background: #ededed;
    margin-top:3px;
    margin-bottom:3px;
    cursor:pointer!important;
}

#showMoreText{
    padding-top:5px;
    color: #428bca;
}

.notification{
    visibility: hidden;
}

.icon-animated-bell {
    display: inline-block;
    -webkit-animation: ringing 2s ease 1s infinite !important;
}

.chat {
    border: 1px solid #999;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px;
    height: auto;
    width: 400px;
}
.chat-title {
    cursor: pointer !important;
    padding:0px;
}
.chat-content{
    height: auto
}
.text {
    padding: 10px;
    overflow-y: auto !important;
    overflow-x: hidden;
}
.text-higher{
    height: 200px;
}
.inputText {
    width: 100%
}

.minimizeIcon{
    float: right;
    margin-right: 20px;
    margin-top: 13px;
}

.dialogs{
    height: 360px !important;
    overflow-y: scroll !important;
    overflow-x: auto !important;
    padding-top:10px !important;
}

.notify{
    margin-left:20px;
}

#notifications{

}

.notificationWrapper{
    max-height: 325px !important;
    min-height: 60px;
    overflow-y: auto;
    overflow-x: auto;
}

.customNotificationListItem{
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.customNotificationListItem:hover{
    background-color: #f5f5f5 !important;
    text-decoration: none !important;
}

.customNotificationListItem a{
    display: block;
    padding: 3px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    border-bottom:1px solid;
    border-bottom-color: rgb(228, 236, 243);
}

.customNotificationListItem a {
    margin: 0px;
    font-size: 13px;
    line-height: 16px;
    color: rgb(85, 85, 85);
}
.customNotificationListItem a {
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.popover{
    width:auto !important;
}
.customNotificationListItem a {
    display: block;
    padding: 3px 1px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
.customNotificationListItem a {
    cursor: pointer;
}

.customNotificationListItem a:hover {
    background-color: #f5f5f5 !important;
    text-decoration: none !important;
}

.msg-body {
    display: inline-block;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
}

.customDateBtns{
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 10px;
    padding-right:13px;
    line-height: 18px;
    cursor: pointer;
    border:none !important;
    margin-left:-3px;
}

.daterangepicker .ranges li {

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.dateRows{
    margin-bottom:20px;
}

#reportrange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 10px;
    line-height: 18px;
    cursor: pointer;
    margin-left:-3px;
}

.msg-time {
    display: block;
    font-size: 11px;
    color: rgb(119, 119, 119);
}

.customInfoBox{
    background-color: transparent !important;
    text-align: center;
    padding: 0px;
    line-height: 65px;
    font-size: 32px;
    width:165px;
    display:inline-block;
    border: none;
    margin: 20px;
}

.summarySmallText{
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    margin-top:5px;
}

.customInfoContent{
    background-color: #f5f5f5 !important;
    margin:20px;
    width: 130px;
    height: 90px;
}